<h2>Edit User Page</h2>
<br><br>
<%= form_for @user do |f| %>
	<%=f.label :username %>
	<%=f.text_field :username %><br><br>
	<%=f.label :password %>
	<%=f.password_field :password %>
	<%=f.submit %>
<% end %>

<br>

<%= link_to "Home Index", users_path %>